<!DOCTYPE html>
<html>
<head>
  <title>Washoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Players", players_path %> <%= link_to "Games", games_path %>

<%= yield %>

</body>
</html>
