<BODY BGCOLOR="#016A07" vlink="#FF0000" alink="FF0000"><H1>SOME REAL LIFE BLACKJACK!</H1>
Cards left: <%= "#{'%.2f' % ((@play_deck.size.to_f/52)*100)}%" %> | Bank: <%= "#{'%.2f' % @bank}" %> | Bet: <%= "#{'%.2f' % @bet}" %><br> 
<BR>
<font color="white" size="4">
<% if params[:act] == "stay" || @dealer_total == 21 || @user_total == 21 && @user_hand.length == 2 || @game_over == 1 %>
  <ul type="square">
    <li><% @dealer_hand.each do |x| %><%= "#{x} " %><% end %></li>
  </ul>
  Dealer's Total: <B><%= @dealer_total %></B>
<% else %>
  <ul type="square">
    <li><%= "#{@dealer_hand[0]}" %> <%= "(Hidden)" %></li>
  </ul>
  Dealer's Total: <B><%= Card.value(@dealer_hand[1].value) %></B>
<% end %>

<BR>
</font>
<font color="#FFFF00" size="4">
<ul type="square"><li><% @user_hand.each do |x| %><%= "#{x} " %><% end %></li></ul>
User's Total: <B><%= @user_total %></B><BR>
</font>
<% if @game_over == 0 %>
  <br>
  <%= link_to "HIT", bj_act_path("hit") %> <b>|</b> <% if @user_hand.length == 2 %><%= link_to "DOUBLE D'S!", bj_act_path("double") %><% else %> <font color="#7C7C7C"><i>DOUBLE D'S!</i></font> <% end %> <b>|</b> SPLIT <b>|</b> <%= link_to "STAY", bj_act_path("stay") %><BR>
<% elsif @game_over == 1 %>
  <B><H1><%= "#{@results}" %></h1></B><br>
  <i>Minimum Bet: 5, Maximum Bet: 200</i> | 
  <B><%= link_to "Play Again", bj_path %></B>
  <%= form_for :new_bet, method: 'get' do |f| %>
    <%= f.label "Change Bet:" %>
    <%= f.text_field :new_bet %>
    <%= f.submit %>
  <% end %>
<% end %>
</body>