<H1>YOU'RE REALLY INTO IT NOW!!!</H1>
Cards Left: <%= @play_deck.size %><br>  
<BR>
Dealer's Hand: <% @dealer_hand.each do |x| %><%= "#{x} | " %><% end %> Total: <%= @dealer_total %><BR>
User's Hand: <% @user_hand.each do |x| %><%= "#{x} | " %><% end %> Total: <%= @user_total %><BR>
<BR>
  <% if @dealer_total < 21 && @user_total < 21 %>
<B><%= link_to "HIT", bj_hit_path %> | DOUBLE D'S | SPLIT | <%= link_to "STAY", bj_stay_path %></B><BR>
  <% else %>
<B><H1><%= @result %></h1></B><br>
<B><%= link_to "Play Again", bj_path %></B>
  <% end %>
<BR>
<BR>
<% @play_deck.cards.each do |card| %>
<%= "#{card}, " %>
<% end %>
