<h2>Game ID: <%= "#{@game.id}" %></h2>
<%= render "flash" %>
<b>Players:</b>
<br>
<% @game.game_players.each do |game_player| %>
  <li><%= game_player.player.name %></li>
<% end %>
<br>

<% if @game.winner %>
  <b>Winner:</b>
  <li><%= @game.winner ? "#{@game.winner.name}" : "" %> </li>
  <br>
<% end %>

<b>Points:</b>
<table border="0" cellpadding="2" cellspacing="0  ">
  <tr valign="top">
    <td align="top">
      <table border="1" cellpadding="2" cellspacing="0">
        <% @game.game_players.each do |game_player| %>
        <tr>
          <td><%= game_player.player.name %>: </td>
          <% game_player.points.each do |point| %>
            <% if point.score %>
              <td><center><%= point.score %></center></td>
            <% end %>
          <% end %>
          <td>Total: <%= game_player.total %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <% if !@game.winner %>
        <%= form_for @game do |f| %>
          <%= text_field(:points, :score1) %><br>
          <%= text_field(:points, :score2) %><br>
          <%= f.submit %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
