<h2><%= @shirt.name %></h2>
Color: <%= @shirt.color %><br>
Description: <%= @shirt.description %><br>
<br>
<%= link_to "Edit", edit_shirt_path(@shirt) %> | <%= link_to "Delete", @shirt, confirm: "Are you sure?", method: :delete %>