<%= form_for @story do |f| %>
<div id="error_explanation">
    <% if @story.errors.any? %>
      <%= render "errors", object: f.object %>
    <% end %>
</div>

<div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</div>

<div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
</div>

<div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
</div>

<div class="field">
    <%= f.label :upvotes %><br>
    <%= f.text_field :upvotes %>
</div>

  <%= f.submit %>
<% end %>